* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.button {
  /* outline: 1px solid rgb(255, 0, 0); */
  color: black;
  border-radius: 30px;
  padding: 1rem 2rem;
  font-weight: 700;
}
a:hover {
  color: rgb(193, 248, 110);
}

.thin {
  padding: 0.5rem 2rem;
  font-weight: 400;
}
.white {
  background-color: white;
  color: black;
}
.button.white:hover {
  color: black;
  background-color: rgb(193, 248, 110);
}
.black {
  background-color: black;
  color: white;
}
.gray {
  color: rgba(0, 0, 0, 0.3);
}
.green {
  background-color: rgb(193, 248, 110);
}
.button.green:hover {
  color: black;
  background-color: white;
}
.headline {
  font-size: 50px;
  text-align: center;
  margin: 1rem 0;
  max-width: 550px;
}
.small-parag {
  font-size: 12px;
  text-align: center;
  max-width: 450px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 2rem;
}
.mw-1200 {
  max-width: 1000px;
}

.page {
  max-width: 2000px;
  margin: 0 auto;
  position: relative;
}

nav {
  width: 100%;
  position: absolute;
  max-width: inherit;
  margin: 0 auto;
  z-index: 6;
}
.nav * {
  white-space: nowrap;
}
.nav-container {
  position: relative;
  margin: 0 auto;
  padding: 1rem 3%;
  display: flex;
  color: white;
}

nav a {
  color: white;
  white-space: nowrap;
}
.logo {
  min-width: 40px;
  margin-right: 0.5rem;
}
.nav-logo {
  flex-grow: 1;
  max-width: 225px;

  font-size: 24px;
  font-weight: 700;
  margin-right: auto;

  display: flex;
  align-items: center;
}
.nav-logo:hover,
.nav-logo:hover a {
  cursor: pointer;
  color: rgb(193, 248, 110);
}
.nav-menu {
  display: flex;
}
.nav-menu a {
  display: block;
  padding: 0.5rem 1rem;
}
.nav-authorize {
  flex-grow: 1;
  max-width: 225px;
  margin-left: auto;
  display: flex;
  justify-content: end;
}
.nav-authorize a {
  padding: 0.5rem 1rem;
}
main {
  position: relative;
}

main section {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-hero {
  background-image: linear-gradient(to bottom, black 50%, transparent 50%),
    linear-gradient(to right, black 98%, rgba(255, 255, 255, 0.1) 2%);
  background-size: 65px 4%;
  background-position: center center;

  padding-bottom: 20rem;
  padding-top: 10rem;
}

.main-open-tabs-container {
  width: 400px;
  background-color: white;
  border-radius: 20px;
  padding: 2rem 0;

  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
/* .main-open-tabs-container*/
.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0.8rem 0.2rem 0.8rem 1.5rem;
}
.cross {
  transform: translate(-15px, 1px);
}
.block-text {
  flex-grow: 1;
  padding: 0.5rem;
  font-weight: 500;

  background: linear-gradient(to right, white 60%, black 85%);
  background-clip: text;
  color: transparent;
}
.main-open-tabs .small-parag {
  margin-top: 1rem;
  color: black;
}
.headline.s40 {
  font-size: 40px;
}
.main-helps-increase .headline {
  text-align: start;
}
.main-startups-grow-list {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
}
.main-startups-grow-list li {
  display: flex;
  align-items: center;
  padding: 10% 15%;
  background-color: rgb(235, 235, 235);
}
.main-startups-grow-list img {
  min-width: 100%;
  max-width: 100%;
}

.main-platform-connect {
  background-color: rgb(235, 235, 235);
}
.main-platform-connect-list {
  margin: 3rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main-platform-connect-list li {
  max-width: 5%;
  padding: 2.5%;
  margin: 1%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.main-platform-connect-list li.selected {
  background-color: rgb(193, 248, 110);
}
.main-platform-connect-list img {
  min-width: 100%;
  max-width: 100%;
}
.twitter-tweet {
  display: flex;
  justify-content: center;
  width: 100%;
}
.button.view-more-trend {
  margin-top: 3rem;
}

.main-get-deal {
  background-color: black;
  color: white;
}
.main-get-deal-switch {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.main-get-deal-switch .headline {
  font-size: 16px;
  margin: 0 1em;
  font-weight: 400;
}
#yearly {
  color: rgba(255, 255, 255, 0.4);
}
.main-get-deal-switch .switch {
  width: 65px;
  height: 30px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  align-items: center;
}
.main-get-deal-switch .switch .pin {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  margin: 0 5px;
  background-color: rgb(193, 248, 110);
}
.main-get-deal-plans {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.plan-subhead {
  font-weight: 600;
}
.plan-price {
  display: flex;
  align-items: baseline;

  border-top: 1px solid rgba(0, 0, 0, 0.4);
  padding: 1rem 0;
  margin: 0.8rem 0;
}
.plan-features {
  font-size: 10px;
  font-weight: 600;
}
.plan-features li {
  display: flex;
  margin: 1em 0;
  align-items: center;
}
.plan-features li svg {
  margin-right: 1em;
}
.main-get-deal .plan {
  color: black;
  border-radius: 10px;
  width: 32%;
  min-height: 450px;
  padding: 3%;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}
.main-get-deal .green.button:hover {
  color: white;
  background-color: black;
}
.main-get-deal .black.button:hover {
  color: black;
  background-color: white;
}
.main-get-deal .plan .button {
  font-size: 14px;
  padding: 0.5rem 2rem;
  text-align: center;
  font-weight: 600;
  margin-top: auto;
}

.dark-green {
  color: rgb(146, 190, 81);
}
.main-join .headline {
  margin: 0;
}
.main-join .button {
  padding: 1rem 3rem;
  margin-top: 5rem;
}

footer {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}
.footer-logo {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.footer-logo svg {
  margin-right: 0.5rem;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  margin: 0 1rem;
  color: black;
}
.footer-links a:hover {
  text-decoration: underline;
}

#nav-menu-button,
.main-hero-bars {
  display: none;
}

.main-open-tabs .text.top,
.main-open-tabs .text.bot {
  display: none;
}
.main-get-deal .text {
  display: none;
}

@media screen and (max-width: 900px) {
  .nav-menu,
  .nav-authorize,
  .nav-logo a {
    display: none;
  }
  .nav-logo {
    z-index: 2;
  }
  #nav-menu-button,
  #menu-open-button,
  #menu-close-button {
    z-index: 1;
  }
  #menu-close-button,
  #menu-open-button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #menu-close-button,
  #menu-open-button {
    padding: 10px;
    display: none;
  }
  #menu-open-button {
    width: 20px;
  }
  #menu-close-button {
    padding: 13px;
  }

  #menu-close-button.shown,
  #menu-open-button.shown {
    display: flex;
  }
  /*Menu opened*/
  #slide-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    text-align: center;

    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-in;
  }
  .slide-menu-links,
  .slide-menu-authorize {
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #slide-menu .slide-menu-authorize a,
  #slide-menu li {
    z-index: 5;
    font-size: 20px;
    padding: 0.5em;
    margin: 0.5em 0;
    width: 50%;
  }
  #slide-menu.active {
    max-height: 500px;
    padding-top: 72px;
    padding-bottom: 2rem;
    transition: max-height 0.5s ease-out, padding-top 0.2s ease-out;
  }
  .slide-menu-authorize {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
  }
  #slide-cover {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.5s ease;
    z-index: 5;
  }
  #slide-cover.show {
    background-color: rgba(0, 0, 0, 0.5);
  }
  /*<=Menu opened*/

  #nav-menu-button {
    display: flex;
  }
  #menu-open-button:hover,
  #menu-close-button:hover {
    cursor: pointer;
    background-color: rgba(193, 248, 110, 0.2);
    border-radius: 5px;
  }

  .headline {
    font-size: 40px;
  }
  .button {
    font-size: 14px;
    padding: 1em 2em;
  }
  main section {
    padding: 5rem 2rem;
  }
  .main-hero {
    padding-bottom: 8rem;
  }
  .main-hero-bars {
    position: relative;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    max-width: 250px;
  }
  .block {
    position: relative;
    background-color: rgb(22, 22, 22);
    box-shadow: 5px 5px 10px black;
  }
  .block img {
    max-width: 10%;
  }
  .block-text {
    background: linear-gradient(to right, white 60%, rgb(22, 22, 22) 85%);
    background-clip: text;
    color: transparent;
  }
  .block.first {
    transform: rotate(-5deg);
    z-index: 4;
  }
  .block.second {
    transform: rotate(2deg);
    z-index: 3;
  }
  .block.third {
    transform: rotate(-3deg);
    z-index: 2;
  }
  .block.fourth {
    transform: rotate(5deg);
    z-index: 1;
  }
  .main-open-tabs-container {
    width: 80%;
    padding: 3rem 2rem;
    margin: 5rem 0;
  }
  .main-open-tabs .block {
    font-size: 20px;
    width: 100%;
    box-shadow: none;
  }
  .main-open-tabs .text.top,
  .main-open-tabs .text.bot {
    display: block;
    position: absolute;
  }
  .main-open-tabs .text.top {
    scale: 1.5;
    transform: translate(50px, -70px);
  }
  .main-open-tabs .text.bot {
    scale: 1.5;
    transform: translate(-50px, 70px);
  }
  .main-startups-grow-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

  .main-platform-connect-list {
    display: block;
    align-self: self-start;
    padding: 1rem 0;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
  }
  .main-platform-connect-list li {
    margin: 1rem;
    min-width: 50px;
    display: inline-block;
    white-space: normal;
  }

  .main-get-deal-switch {
    margin-bottom: 6rem;
  }
  .main-get-deal .text {
    display: block;
    position: absolute;
    scale: 1.2;
    transform: translate(65px, 105px);
  }
  .main-get-deal-plans {
    flex-direction: column;
  }
  .main-get-deal-plans .plan {
    padding: 1em;
    font-size: 30px;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 20px;
    min-height: 600px;
  }
  .main-get-deal-plans .plan-features {
    font-size: 18px;
  }
  .main-get-deal-plans .plan .button {
    font-size: 20px;
    padding: 1em 0;
  }

  footer {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 1rem;
  }
  .footer-logo {
    margin: 1rem;
  }
  .footer-links {
    flex-direction: column;
    justify-content: start;
  }
  .footer-links li {
    margin: 1rem 0;
  }
}
